.aside {
  .overlay {
    @apply bg-black h-screen w-screen fixed 
        top-0 right-0 z-10 opacity-40;
  }

  .sidebar {
    @apply top-0 left-0 w-64 md:w-96 bg-light px-8 
    md:px-12 py-10 md:py-12 fixed h-full z-50 
    rounded-r-3xl text-dark;

    box-shadow: 2px 0px 0px 0px;

    .close {
      @apply bg-dark w-10 h-10 flex text-dark cursor-pointer
      justify-center items-center rounded-xl hover:opacity-90;

      box-shadow: 0px 10px 20px -5px;

      * {
        @apply text-white;
      }
    }

    .sidebar_list {
      @apply mt-12;

      .list_item {
        @apply mb-4;

        button {
          @apply bg-transparent p-0;

          span {
            @apply text-dark;
          }
        }

        a,
        button {
          @apply flex items-center gap-5 transition-all ease-in-out;

          * {
            @apply transition-all ease-in-out hover:opacity-90;
          }

          .list_item_icon {
            @apply w-10 h-10 flex items-center 
            justify-center rounded-xl;

            box-shadow: 0px 10px 20px -5px;

            * {
              @apply text-white;
            }
          }

          span {
            @apply font-semibold opacity-90;
          }
        }
      }
    }
  }
}
