.card {
  @apply bg-light rounded-2xl flex justify-between 
  p-4 mb-3 shadow-sm items-center;

  .card_left {
    @apply flex justify-center items-center gap-5;

    .circle {
      @apply bg-dark h-10 w-10 p-6 rounded-full 
      flex items-center justify-center font-semibold 
      text-2xl text-dark;

      box-shadow: 0px 20px 28px -10px;

      span {
        @apply text-white;
      }
    }

    .circle_lg {
      @apply h-12 w-12 p-7;
    }
  }

  .info {
    span {
      @apply text-sm;
    }

    .info_bottom {
      @apply flex gap-8 mt-2 pt-2 border-t border-t-theme border-opacity-20;

      div {
        @apply flex items-center gap-2;

        span {
          @apply text-xs font-bold;
        }
      }
    }
  }

  .delete_btn {
    @apply cursor-pointer text-red bg-red 
    transition hover:bg-opacity-80;

    box-shadow: 0px 20px 30px -10px;
  }

  .more_btn {
    @apply cursor-pointer 
    transition hover:bg-opacity-80;

    box-shadow: 0px 20px 30px -10px;
  }
}
